<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_DRIVER" value="pgsql"/>
        <env name="DB_PGSQL_HOST" value="127.0.0.1"/>
        <env name="DB_PGSQL_PORT" value="5432"/>
        <env name="DB_PGSQL_DATABASE" value="app_test"/>
        <env name="DB_PGSQL_USERNAME" value="postgres"/>
        <env name="DB_PGSQL_PASSWORD" value="postgres"/>
        <env name="DB_PGSQL_SCHEMA" value="public"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="RENDER_LISTING_TYPES" value="blog,post"/>
        <env name="RENDER_LISTING_PER_PAGE" value="2"/>
        <env name="CACHE_TAGS" value="false"/>
        <env name="QUERY_CACHE_ENABLED" value="false"/>
        <env name="QUERY_CACHE_STORE" value="array"/>
        <env name="LEMMA_ADMIN_BUNDLE_PATH" value="tests/fixtures/admin"/>
        <env name="LEMMA_PUBLIC_URL_BASE" value="https://site.test"/>
        <env name="RENDER_ADMIN_URL" value="https://admin.test"/>
        <!-- media()/site_logo()/site_favicon() tests need anonymously retrievable
             public blobs; force="true" pins this against ambient .env/CI values. -->
        <env name="UPLOADS_ACCESS" value="public" force="true"/>
        <env name="UPLOADS_ENABLED" value="true" force="true"/>
    </php>
</phpunit>
